.nav {
	@apply flex justify-between p-4 bg-blue-700 text-white relative;
}
.hide {
	@apply hidden sm:flex;
}
.show {
	@apply block text-right pr-3 mt-8 sm:m-0 sm:flex;
}

.linkItem {
	@apply px-3 p-1 my-8 sm:my-0 rounded mx-2 border border-blue-700;
	&:hover {
		@apply border-white;
	}
}
.register {
	@apply bg-red-600;
}

.register:hover {
	@apply bg-blue-700 text-gray-900;
}

.logo {
	@apply font-extrabold mx-4 pt-1 text-xl;
}

.cart {
	@apply p-0 rounded mx-3 border border-blue-700 w-16 relative  sm:w-8;
	&:hover {
		@apply border-none;
	}
}
.badge {
	@apply absolute bg-red-700 p-1 w-6 h-6 rounded-full text-white font-bold;
	top: 5px;
	right: -10px;
	margin-top: -5px;
	line-height: 15px;
	padding-left: 7px;
}

.hamburger {
	@apply w-8 h-8 sm:hidden absolute top-4 right-8;
}
